.newLeadWrapper {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    justify-items: center;

    header {
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
    
        img {
            margin-right: 50px;
        }
    }
}

.newLeadForm {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    background: #202024;

    .errorLabel {
        font-size: 16px;
        color: #ff00006e;
        font-weight: normal;
    }

    label {
        padding: 18px 24px;
        font-size: 20px;
        background: #29292e;
        font-weight: bold;
        text-align: left;
    }

    input {
        background: transparent;
        border: 0;
        padding: 24px;
        color: #e1e1e6;
        font-size: 16px;
        line-height: 24px;

        &:focus {
            outline: 0;
        }

        &::placeholder {
            color: #8d8d99;
        }
    }
}